/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"); */
/* 
:root {
  --color-background-light: #f8ebe8;
  --color-primary-light: #333;
  --color-accent-light: #ff6699;

  --color-background-dark: #1a1a2e;
  --color-primary-dark: #eaeaea;
  --color-accent-dark: #ff6699;
} */
