@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/style.css';
@import './styles/styles.css';
@import './styles/media_queries.css';
@import './styles/github_states.css';
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
